.cards {

    display: flex;
    justify-content: center;
    width: 120rem;

    @media (max-width: 900px) {
        margin-top: 15rem !important;
    }

    @media (max-width: 600px) {
        flex-direction: column;
        width: 90rem;
        align-items: center;
        text-align: center;
    }

    &__1, &__2, &__3 {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        max-width: 45rem;

        @media (max-width: 600px) {
            max-width: initial;
            margin-bottom: 20rem;
            
            &:last-of-type {
                margin-bottom: 0;
            }
        
        }
        
        img {
            height: 40rem;
            object-fit: cover;
            mix-blend-mode: lighten;
            margin: 0 auto;

            @media (max-width: 600px) {
                height: 80rem;
                width: 100vw;
            }
        }


        .text {
            padding: 2rem;

            h3 {
                font-size: 3rem;
            }

            p {
                font-size: 1.5rem;
                margin: 1.5rem 0 2rem;
            }

            @media (max-width: 600px) {

                padding: 2rem 4rem;

                h3 {
                    font-size: 10rem;
                    line-height: 1;
                    margin: 5rem 0;
                }

                p {
                    font-size: 4rem;
                }
            }
        }

        
    }

    &__2 {
        margin-top: -10rem;
        margin-bottom: -8rem;
        border-right: 1.5px solid transparent;
        border-left: 1.5px solid transparent;
        -moz-border-image: -moz-linear-gradient(top, #f8fc1f 0%, #00fff7 100%);
        -webkit-border-image: -webkit-linear-gradient(top, #f8fc1f 0%, #00fff7 100%);
        border-image: linear-gradient(to bottom, transparent, #f8fc1f 15%, #00fff7 85%, transparent); 
        border-image-slice: 2;
        background: none;   
        
        img {
            margin-top: 5rem;
        }

        @media (max-width: 600px) {
            margin-top: 0;
            margin-bottom: 20rem;
            border: none;
        
            img{
                margin-top: 0;
            }

        }
    }

}